body {
    background-color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 0px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    transition-duration: 0.4s;
}

h1 {
    text-align: center;
    font-weight: lighter;
    line-height: 100%;
}
/* ----------------------------------------------------header------------------------------------------------------ */

 header{
    background-color: #232329;
    color: white;
    border: none;
    width: 100%;
}


.hd1 {
    height: 50px;
    width: 100%;
    margin: auto;
}

#logo {
    display: flex;
    float: left;
    /* margin: 0px 0% 0px 23%; */
    width: 25%;
}

#navbar {
    margin-left: 2%;
    display: flex;
    float: left;
    width: 60%;
    padding-left: 0px;
} 

.logoimage {
    display: flex;
    position: relative; left: 80%;
    /* float: right; */
}

.navbarright {
    display: flex;
    margin: 0em 0px 0em 0px;
}

.navbarleft {
    margin: 0px 3% 0px 0px;
    display: flex;
    float: left;
}

.btndesign > li {
    display: inline-block;
    margin: 0em 0.1rem 0em 0.1rem;
    list-style: none;
}

.btndesign > li > a {
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-size: small;
    height: 2.5rem;
}

.btndesign > li > a:hover {
    background-color: #43434d;
}

.btndesign > li > a:active {
    background-color: #6b6b74;
}

.btndesign > li > input {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    height: 2.1em;
    width: 10rem; 
    border-radius: 2px;
    border: none;
    font-size: x-small;
}

.burger {
    display: none;
    position: absolute;
    top: 13px;
    right: 25px;
}
.line {
    width: 25px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
/* ---------------------------------------------------------------------------------------------------------------- */


/* -----------------------------------------------------main------------------------------------------------------- */

main{
    position: absolute; top: 50px;
    margin: 0px;
    display: flex;
    background-color: #313138 ;
    color: white;
    height: 24.9rem;
    width: 100%;
    align-items: center;
}

#md1 {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 16.875rem;
    height: 80%;
    position: absolute;
    /* top: 7%; */
    left: 59%;
    float: right;
}

#md2 {
    position: absolute; top: 11%; left: 20%;
    width: 28%;
    height: 75%;
    float: left;
}

#p3 { 
    position: absolute; top: 155px;
    float: left;
    text-align: left;
    font-size: 100%;
    width: 100%;
}

#d3s2h1 {
    position: absolute; top: 0px;
    float: left;
    font-size: 370%;
    text-align: left;
}

#forminput {
    color: rgb(56, 56, 56);
    border: 1px thin rgb(194, 194, 194);
    font-size: small;
    height: 8%;
    width: 90%;
}

.b1 {
    position: absolute; top: 80%; left: 2em;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    width: 80%;
     box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
     border-color: rgb(0, 187, 0);
     background-color: rgb(32, 199, 32); 
}
.b1:hover {
    background-color: rgb(44, 182, 44);
}

.b1:active {
    border-style: inset;
}
.bhidden {
    display: none;
}
/* ---------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------footer------------------------------------------------------ */

footer{
    position: absolute; top: 447px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 13rem;
    width: 100%;
    justify-content: center;

}

#fd1 {
    width: 470px;
    height: 100%;
    display: block;
    margin: auto

}


#d3s3p {
    width: 35%;
    position: absolute; top: 97px ; left: 32.5%;
    line-height: 110%;
    text-align: center;
    font-size: smaller;
}

#fd1 > h1 {
    text-align: center;
    font-weight: lighter;
    line-height: 100%;
    margin-top: 28px;
}


.b2 {
    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 202);
    border: thin rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: small; 
    position: absolute; top: 77%; left: 45%;
}

.b2:hover {
    background-color: rgb(228, 228, 228);
}

.b2:active {
    border-style: inset;
    background-color: rgb(202, 200, 200);
}
/* ---------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------media quiery (1204-800)------------------------------------------------ */

@media only screen and (max-width: 1204px){
    #logo {
        width: 100px;
    }
    #navbar{
        width: 718px;
        float: right;
        margin-right: 10%;

    }

}


@media only screen and (max-width: 845px){
    #logo {
        width: 5%;
    }

}




@media only screen and (max-width: 780px) {

    #navbar {
        display: none;
    }

    .burger {
        display: inline;
    }

    #logo {
        width: 20px;
    }
}


@media only screen and (max-width: 480px) {
    
   .hd1 {
       height: 50px;
   }
    
   .burger {
       top: 14px;
       right: 25px;
   }
    .logoimage{
        height: 50px;
    }

    main{
        top: 50px;
        height: 460px;
    }

    #md1 {
        display: none;
    }

    #md2 {
        position: absolute; top: 0px; left: 0px;
        width: 100vw;
        height: 460px;
        display: block;

    }
    
    #d3s2h1 {
        margin: 70px 0px 10px 0px;
        text-align: center;
        font-size: 300%;
        width: 100vw;
        color: rgb(209, 209, 209);
    }
    #p3 {
        text-align: center;
        width: 90%;
        position: absolute;left: 5%; top: 180px;
        font-size: 120%;
        color: rgb(150, 149, 149);
        line-height: 25px;
    }

    #p3 > b {
        color: rgb(189, 189, 189);
    }


    .bhidden {
        display: block;
        height: 50px;
        width: 50%;
        border-radius: 3px;
        font-size: medium ;
        position: absolute;left: 25%; bottom: 5%;
    }

    footer {
        height: 500px;
        width: 100%;
        top: 510px;
        padding-top: 0px;

    }

    #fd1 > h1 {
        width: 90%;
        margin: 40px auto;
    }

    #fd1 > p {
        top: 130px;
        position: absolute;
        font-size: medium;
    }

    #hr {
    display: none;
    }

    #d3s3p {
        text-align: center;
        top: 200px;
        width: 80%;
        left: 50px;
        margin: auto;
        font-size: 150px;
        line-height: 20px;
    }

    .b2 {
        position: absolute;
        left: 37.5%;
        top: 215px;
    }

}
